factor_analyzer
func
matplotlib==3.5.2
missingno==0.5.1
numpy==1.21.5
pandas==1.4.3
scipy==1.7.3
seaborn==0.11.2
sinfo==0.3.4
sklearn==1.1.1
statsmodels==0.13.2
IPython==8.4.0
jupyter_client==6.1.12
jupyter_core==4.10.0
jupyterlab==3.3.2
notebook==6.4.8
